body { font-family: 'inter', arial, sans-serif; }

button {
  cursor: pointer;
  border: 0;
}

.wizard {
  min-height: calc(100vh - 70px);
  padding-bottom: 2em;
}

a {
  color: inherit;
  text-decoration: underline;
}

.back {
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 32px;
  top: 32px;
}

.homeicon {
  position: absolute;
  top: 26px;
  left: 90px;
  font-size: 46px !important;
  color: #0059d0;
}

.error-msg {
  font-size: 16px;
  text-align: right;
  color: #ea0000;
  position: absolute;
  right: 15px;
}
.common-error-msg {
  font-size: 16px;
  color: red;
  padding-top: 10px;
}

.invalid {
  border: 1px solid #eb5757;
}

.head {
  text-align: center;
  margin: 50px auto;
}
.head img {
  height: 80px;
  width: auto;
}

.mw-300 {
  max-width: 300px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: #0d1826;
  margin-bottom: 0.5em;
}

p {
  font-weight: normal;
  font-size: 18px;
  color: #384b65;
}

.btn {
  width: 205px;
  height: 48px;
  margin-top: 0.5em;
  border-radius: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.btn-primary {
  background: #0059D0;
  border-color: #0059D0;
  color: #fff;
  border-radius: 6px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.btn-outline-primary {
  border: 1px solid #0059d0;
  border-radius: 6px;
  height: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #0059d0;
  background-color: #fff;
}
.btn-outline-primary:hover {
  background: #0059d0;
  border-color: #0059d0;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #82ade5;
  border-color: #82ade5;
  cursor: default;
}

.step .title {
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #0d1826;
}

.step .tagline {
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #384b65;
}

.step label {
  font-weight: normal;
  font-size: 16px;
  color: #384b65;
  text-align: left;
}

.step input {
  background: #fff;
  border: 1px solid #dee4ed;
  box-sizing: border-box;
  border-radius: 6px;
  height: 52px;
  padding-left: 20px;
  font-size: 16px;
}

.step .unit {
  font-weight: 500;
  font-size: 16px;
  color: #384b65;
  /* z-index: 1000; */
}

.step .directory {
  border-right: 0;
}

.step .input-group-prepend button {
  color: #2683ff;
  text-decoration: none;
  font-size: 16px;
  background: none;
  background: #fff;
  border: 1px solid #dee4ed;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 8px 12px 8px 24px;
}

.step .input-group-prepend img {
  top: -1px;
  left: -10px;
  position: relative;
}

.identity-step-2 .warning {
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  color: #657181;
}

.identity-step-2 .warning-icon {
  border-radius: 12px;
  background: #0059d0;
}

.identity-step-2 .warning-icon img {
  position: absolute;
  left: 10.29px;
  top: 6.86px;
  height: 10.97px;
  z-index: 1000;
}

.logs {
  height: 174px;
  background: #fcfcfd;
  border: 1px solid #dee4ed;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  color: #0d1826;
  padding: 15px;
  overflow-x: auto;
}

/* Browser */

.file-browser {
  background: white;
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid #f2f3f4;
  box-shadow: 0 10px 20px #f2f3f4;
  border-radius: 5px;
  text-align: left;
}

.file-browser-container {
  padding: 20px 40px 40px;
}

.file-browser-path {
  font-weight: 700;
  color: #000;
  font-size: 1.5rem;
  text-align: left;
  line-height: 2.5em;
}

.file-browser-list {
	height: 420px;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
  border-bottom: 1px solid #f2f3f4;
  border-top: 1px solid #f2f3f4;
}

.file-browser-file {
	list-style-type: none;
  cursor: pointer;
	padding: 16px;
	border-radius: 4px;
  font-weight: 300;
  color: #000;
}

.file-browser-file:hover {
	background: #f9f9f9;
  color: #0059d0;
}

.file-browser-selected {
	background: #0059D0;
  color: #fff;
}
.file-browser-selected:hover {
	background: #0059D0;
  color: #fff;
}

.file-browser-done {
  background: #0059D0;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  height: 48px;
  margin-top: 40px;
}

.file-browser-file img {
  margin-right: 12px;
  height: 24px;
  width: 24px;
  position: relative;
  top: -2px;
  vertical-align: middle;
}


/* Wizard Progress */

footer {
  height: 70px;
}

.wizard-progress {
  position: relative;
  display: flex;
  width: 100%;
}
.wizard-progress-track {
   position: absolute;
   top: 8px;
   width: 84%;
   left: 8%;
   margin: 0 auto;
   display: block;
   text-align: center;
   height: 5px;
   background-color: #dfe3e4;
   z-index: -1;
}
.wizard-progress-label {
 font-weight: normal;
 font-size: 12px;
 text-align: center;
 color: rgba(0, 0, 0, 0.4);
}
.label-active {
 font-family: Inter;
 font-weight: bold;
 font-size: 12px;
 color: #000000;
}
.wizard-progress-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.wizard-progress-step:last-child:after {
  display: none;
}
.wizard-progress-step:before {
  content: "";
  display: flex;
  margin: 0 auto;
  margin-bottom: 8px;
  width: 20px;
  height: 20px;
  background: #C5CBDB;
  border-radius: 100%;
}
.wizard-progress-step:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 50%;
  width: 0%;
  transition: width 1s ease-in;
  height: 5px;
  background: #2683FF;
  z-index: -1;
}
.wizard-progress-step.is-active:before {
  background: #2683FF;
}
.wizard-progress-step.is-complete:before {
  background: #2683FF;
}
.wizard-progress-step.is-complete:after {
  background: #2683FF;
  animation: nextStep 1s;
  animation-fill-mode: forwards;
}
@keyframes nextStep {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}