
.navbar {
  background: #133e9c;
}

.navbar-brand img {
  height: 35px;
}

.side-nav.col-2 {
  border: 1px solid #dedede;
  padding-right: 0;
  height: 100vh;
}

.side-nav .nav-pills .nav-link {
  height: 54px;
  line-height: 38px;
  font-size: 14px;
  border-radius: 0;
  color: #a9a9a9;
}

.side-nav .nav-pills .nav-link .nav-link-icon {
  width: 20px;
  height: 20px;
  background: #b3b3b3;
  border-radius: 6px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.welcome-container {
  text-align: center;
  margin-top: 5%;
}

.welcome-container .welcome-icon {
  width: 170px;
  height: 170px;
  background: #c4c4c4;
  border-radius: 136px;
  margin: 0 auto;
}

.welcome-container .welcome-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 137.66%;
  margin-top: 30px;
}

.welcome-container .welcome-msg {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 137.66%;
  width: 50%;
  margin: 30px auto;
}

.welcome-container .welcome-btn {
  background: #245ac3;
  border-radius: 2px;
  color: #fff;
  border: none;
  padding: 10px 20px;
}
.container-fluid.dashboard-view { height: 100% }
