body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
   font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  color: #0d1826;
  margin-top: 40px;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #3498db;
}
.box input[type="button"] {
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    background: #0059d0;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 135%;
    color: #fff;
    width: 205px;
    height: 48px;
}
.error-msg {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #ea0000;
    margin-left: 120px;
}
#wrongdetails{
    display: none;
    float: left;
    margin-bottom: 10px;
    margin-left: 100px !important;
}
.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin-left: 160px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.head {
    position: absolute;
    width: 102px;
    height: 102px;
    left: 200px;
    top: -40px;
}



