@import url('https://rsms.me/inter/inter.css');

body { font-family: 'inter', arial, sans-serif; }

button {
  cursor: pointer;
  border: 0;
}

.file-browser {
    background: white;
    position: absolute;
    z-index: 1000;
    width: 544px;
    top: 516px;
    left: 449px;
    right: 100px;
    height: 550px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.file-browser-container {
	margin: 50px;
}

.file-browser-path {
	font-size: 50px;
}

.file-browser-list {
	height: 300px;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
}

.file-browser-file {
	list-style-type: none;

	padding: 10px;
	border-radius: 5px;
}

.file-browser-file:hover {
	background: #eee;
}

.file-browser-selected {
	background: #ddd;
}

.file-browser-done {
    background: #0059D0;
    border-radius: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
    color: #FFFFFF;
    width: 205px;
    height: 48px;

	margin-top: 25px;
}

#app {
  width: 1400px;
  height: 900px;
  position: absolute;
  transform: scale(1);
  transform-origin: top left;
  left: 0;
  top: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

.back {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 144px;
  top: 80px;
  cursor: pointer;
}

.step {
  background: white;
  display: block;
}

.invalid {
  border: 1px solid #eb5757;
}

.head {
  position: absolute;
  top: 100px;
  width: 176px;
  height: 176px;
  left: 632px;
  text-align: center;
}

/* step 1 */

.step-1 .logo {
  position: absolute;
  top: 302px;
  left: 669px;
  width: 67.78px;
  height: 76.36px;
}

.step-1 .head {
  position: absolute;
  width: 102px;
  height: 102px;
  left: 669px;
  top: 302px;
}

.step-1 .title {
  position: absolute;
  width: 315px;
  height: 32px;
  left: 562px;
  top: 440px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0d1826;
  margin-top: 0;
}

.step-1 p {
  position: absolute;
  width: 463px;
  height: 24px;
  left: 488px;
  top: 496px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 135%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #384b65;
  margin-top: 0;
}

.step-1 .start {
  position: absolute;
  left: 617px;
  right: 618px;
  top: 556px;
  bottom: 296px;
  background: #0059d0;
  border-radius: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #fff;
  width: 205px;
  height: 48px;
}

.step .profile {
  position: absolute;
  width: 176px;
  height: 176px;
  left: 632px;
  top: 50px;
  border-radius: calc(176px / 2);
  background: #dee4ed;
}

/* step 2 */

.step-2 .title {
  position: absolute;
  width: 445px;
  height: 32px;
  left: 498px;
  top: 234px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0d1826;
}

.step-2 .tagline {
  position: absolute;
  width: 551px;
  height: 52px;
  left: 444px;
  top: 290px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #384b65;
}

.step-2 .email-label {
  position: absolute;
  height: 22px;
  left: 445px;
  right: 735px;
  top: 434px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  color: #384b65;
  width: 200px;
}

.step-2 .email {
  position: absolute;
  left: 445px;
  right: 445px;
  top: 464px;
  bottom: 384px;
  background: #fff;
  border: 1px solid #dee4ed;
  box-sizing: border-box;
  border-radius: 6px;
  width: 550px;
  height: 52px;
  padding-left: 20px;
  font-size: 16px;
}

.step-2 .skip {
  position: absolute;
  left: 505px;
  right: 730px;
  top: 552px;
  bottom: 300px;
  border: 1px solid #0059d0;
  box-sizing: border-box;
  border-radius: 6px;
  height: 48px;
  width: 205px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #0059d0;
  background-color: #fff;
}

.step-2 .continue {
  position: absolute;
  left: 730px;
  right: 505px;
  top: 552px;
  bottom: 300px;
  background: #0059d0;
  border-radius: 6px;
  height: 48px;
  width: 205px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #fff;
}

/* step 3 */

.step-3 .title {
  position: absolute;
  width: 618px;
  height: 32px;
  left: 411px;
  top: 274px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0d1826;
}

.step-3 .tagline {
  position: absolute;
  width: 551px;
  height: 52px;
  left: 444px;
  top: 340px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #384b65;
}

.step-3 .address-label {
  position: absolute;
  height: 22px;
  left: 445px;
  right: 735px;
  top: 434px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  color: #384b65;
  width: 400px;
}

.step-3 .address {
  position: absolute;
  left: 445px;
  right: 445px;
  top: 464px;
  bottom: 384px;
  background: #fff;
  border: 1px solid #dee4ed;
  box-sizing: border-box;
  border-radius: 6px;
  width: 550px;
  height: 52px;
  padding-left: 20px;
  font-size: 16px;
}

.step-3 .continue {
  position: absolute;
  left: 618px;
  right: 617px;
  top: 552px;
  bottom: 300px;
  background: #0059d0;
  border-radius: 6px;
  width: 205px;
  height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* step 4 */

.step-4 .title {
  position: absolute;
  width: 430px;
  height: 32px;
  left: 505px;
  top: 274px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0d1826;
}

.step-4 .tagline {
  position: absolute;
  width: 711px;
  height: 26px;
  left: 364px;
  top: 330px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #384b65;
}

.step-4 .storage-label {
  position: absolute;
  height: 22px;
  left: 588px;
  right: 662px;
  top: 408px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  color: #384b65;
  width: 200px;
}

.step-4 .storage {
  position: absolute;
  left: 588px;
  right: 627px;
  top: 438px;
  bottom: 410px;
  background: #fff;
  border: 1px solid #dee4ed;
  box-sizing: border-box;
  border-radius: 6px;
  width: 225px;
  height: 52px;
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
}

.step-4 .unit {
  position: absolute;
  left: 829px;
  right: 590px;
  top: 453px;
  bottom: 425px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  color: #384b65;
  z-index: 1000;
}

.step-4 .continue {
  position: absolute;
  left: 618px;
  right: 617px;
  top: 526px;
  bottom: 326px;
  background: #0059d0;
  border-radius: 6px;
  width: 205px;
  height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* step 5 */

.step-5 .title {
  position: absolute;
  width: 338px;
  height: 32px;
  left: 551px;
  top: 274px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0d1826;
}

.step-5 .tagline {
  position: absolute;
  width: 665px;
  height: 52px;
  left: 387px;
  top: 330px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #384b65;
}

.step-5 .directory-label {
  position: absolute;
  height: 22px;
  left: 445px;
  right: 735px;
  top: 434px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  color: #384b65;
  width: 200px;
}

.step-5 .directory {
  position: absolute;
  left: 445px;
  right: 445px;
  top: 464px;
  bottom: 384px;
  width: 550px;
  height: 52px;
  background: #fff;
  border: 1px solid #dee4ed;
  box-sizing: border-box;
  border-radius: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
  padding: 20px;
  padding-right: 130px;
}

.step-5 .input-group-prepend {
  position: absolute;
  left: 865px;
  top: 465px;
  z-index: 9;
}

.step-5 .input-group-prepend button {
  color: #2683ff;
  text-decoration: none;
  font-size: 16px;
  background: none;
  padding: 8px 20px 14px 32px;
}

.step-5 .input-group-prepend img {
  top: 5px;
  left: -10px;
  position: relative;
}

.step-5 .continue {
	position: absolute;
	left: 618px;
	right: 617px;
	top: 552px;
	bottom: 300px;

	background: #0059D0;
	border-radius: 6px;

	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 135%;

	text-align: center;

	color: #FFFFFF;

	width: 205px;
	height: 48px;
}


.step-6 .title {
  position: absolute;
  width: 548px;
  height: 84px;
  left: 445px;
  top: 234px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0d1826;
}

.step-6 .tagline {
  position: absolute;
  width: 551px;
  height: 104px;
  left: 444px;
  top: 340px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #384b65;
}

.step-6 .host-label {
  position: absolute;
  height: 22px;
  left: 445px;
  right: 735px;
  top: 474px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  color: #384b65;
  width: 200px;
}

.step-6 .host {
  position: absolute;
  left: 445px;
  right: 445px;
  top: 504px;
  bottom: 344px;
  background: #fff;
  border: 1px solid #dee4ed;
  box-sizing: border-box;
  border-radius: 6px;
  width: 550px;
  height: 52px;
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
}

.step-6 .continue {
  position: absolute;
  left: 618px;
  right: 617px;
  top: 592px;
  bottom: 260px;
  background: #0059d0;
  border-radius: 6px;
  width: 205px;
  height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* step 6 */

.identity-step-1 .title {
  position: absolute;
  width: 380px;
  height: 32px;
  left: 530px;
  top: 274px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0d1826;
}

.identity-step-1 .tagline {
  position: absolute;
  width: 795px;
  height: 78px;
  left: 322px;
  top: 330px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #384b65;
}

.identity-step-1 .identity-label {
  position: absolute;
  height: 22px;
  left: 446px;
  right: 734px;
  top: 460px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  color: #384b65;
  width: 200px;
}

.identity-step-1 .identity {
  position: absolute;
  left: 445px;
  right: 445px;
  top: 490px;
  bottom: 358px;
  background: #fff;
  border: 1px solid #dee4ed;
  box-sizing: border-box;
  border-radius: 6px;
  width: 550px;
  height: 52px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
  padding-left: 25px;
  padding-right: 130px;
}

.identity-step-1 .input-group-prepend {
  position: absolute;
  left: 865px;
  top: 491px;
  z-index: 9;
}

.identity-step-1 .input-group-prepend button {
  color: #2683ff;
  text-decoration: none;
  font-size: 16px;
  background: none;
  padding: 8px 20px 14px 32px;
}

.identity-step-1 .input-group-prepend img {
  top: 5px;
  left: -10px;
  position: relative;
}


.identity-step-1 .no-identity {
  position: absolute;
  left: 509px;
  right: 726px;
  top: 578px;
  bottom: 274px;
  border: 1px solid #0059d0;
  box-sizing: border-box;
  border-radius: 6px;
  width: 205px;
  height: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #0059d0;
}

.identity-step-1 .finish {
  position: absolute;
  left: 726px;
  right: 509px;
  top: 578px;
  bottom: 274px;
  background: #0059d0;
  border-radius: 6px;
  width: 205px;
  height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #fff;
}

.identity-step-2 .title {
  position: absolute;
  width: 353px;
  height: 32px;
  left: 543px;
  top: 274px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  align-items: center;
  text-align: center;
  color: #0d1826;
}

.identity-step-2 .tagline {
  position: absolute;
  width: 795px;
  height: 78px;
  left: 322px;
  top: 330px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #384b65;
}

.identity-step-2 .generate {
  position: absolute;
  left: 618px;
  right: 617px;
  top: 549px;
  bottom: 408px;
  background: #0059d0;
  border-radius: 6px;
  width: 205px;
  height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #fff;
}

.identity-step-2 .warning {
  position: absolute;
  right: 31.18%;
  left: 489px;
  top: 635px;
  bottom: 34.11%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  display: flex;
  align-items: center;
  color: #657181;
}

.identity-step-2 .warning-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 445px;
  top: 635px;
  border-radius: 12px;
  background: #0059d0;
}

.identity-step-2 .warning-icon img {
  position: absolute;
  left: 10.29px;
  top: 6.86px;
  height: 10.97px;
  z-index: 1000;
}

.identity-step-3 .title {
  position: absolute;
  width: 428px;
  height: 32px;
  left: 505px;
  top: 274px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0d1826;
}

.identity-step-3 .tagline {
  position: absolute;
  width: 811px;
  height: 52px;
  left: 314px;
  top: 330px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #384b65;
}

.identity-step-3 .logs {
  position: absolute;
  width: 500px;
  height: 174px;
  left: 470px;
  top: 418px;
  background: #fcfcfd;
  border: 1px solid #dee4ed;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  color: #0d1826;
  padding: 15px;
  overflow-x: auto;
}

.identity-step-3 .finish {
  position: absolute;
  left: 617px;
  right: 618px;
  top: 644px;
  bottom: 208px;
  background: #0059d0;
  border-radius: 6px;
  width: 205px;
  height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #fff;
}

/* step 8 */

.step-8 .profile {
  position: absolute;
  width: 176px;
  height: 176px;
  left: 631px;
  top: 255px;
  background: #dee4ed;
}

.step-8 .title {
  position: absolute;
  width: 264px;
  height: 32px;
  left: 588px;
  top: 479px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0d1826;
}

.step-8 .tagline {
  position: absolute;
  width: 665px;
  height: 26px;
  left: 387px;
  top: 535px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #384b65;
}

.step-8 .finish {
  position: absolute;
  left: 617px;
  right: 618px;
  top: 597px;
  bottom: 255px;
  background: #0059d0;
  border-radius: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #fff;
  width: 205px;
  height: 48px;
}

.progress .bar-1 {
  position: absolute;
  width: 186px;
  height: 2px;
  left: 196px;
  top: 803px;
  background: #dee4ed;
}

.progress .bar-2 {
  position: absolute;
  width: 186px;
  height: 2px;
  left: 412px;
  top: 803px;
  background: #dee4ed;
}

.progress .bar-3 {
  position: absolute;
  width: 186px;
  height: 2px;
  left: 628px;
  top: 803px;
  background: #dee4ed;
}

.progress .bar-4 {
  position: absolute;
  width: 186px;
  height: 2px;
  left: 844px;
  top: 803px;
  background: #dee4ed;
}

.progress .bar-5 {
  position: absolute;
  width: 186px;
  height: 2px;
  left: 1060px;
  top: 803px;
  background: #dee4ed;
}

.progress .bar-active {
  background: #0059d0;
}

.progress .point-1 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 164px;
  top: 787px;
  background: #dee4ed;
  border-radius: 16px;
}

.progress .checkmark img {
  width: 16px;
  height: auto;
  position: relative;
  left: -4px;
  top: -1px;
}

.progress .label-1 {
  position: absolute;
  width: 8px;
  height: 21px;
  left: 176px;
  top: 793px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.progress .point-2 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 380px;
  top: 787px;
  background: #dee4ed;
  border-radius: 16px;
}

.progress .label-2 {
  position: absolute;
  width: 10px;
  height: 21px;
  left: 391px;
  top: 793px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #929daa;
}

.progress .point-3 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 596px;
  top: 787px;
  background: #dee4ed;
  border-radius: 16px;
}

.progress .label-3 {
  position: absolute;
  width: 11px;
  height: 21px;
  left: 606px;
  top: 793px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #929daa;
}

.progress .point-4 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 812px;
  top: 787px;
  background: #dee4ed;
  border-radius: 16px;
}

.progress .label-4 {
  position: absolute;
  width: 11px;
  height: 21px;
  left: 822px;
  top: 793px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #929daa;
}

.progress .point-5 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 1028px;
  top: 787px;
  background: #dee4ed;
  border-radius: 16px;
}

.progress .label-5 {
  position: absolute;
  width: 11px;
  height: 21px;
  left: 1038px;
  top: 793px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #929daa;
}

.progress .point-6 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 1244px;
  top: 787px;
  background: #dee4ed;
  border-radius: 16px;
}

.progress .label-6 {
  position: absolute;
  width: 11px;
  height: 21px;
  left: 1254px;
  top: 793px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #929daa;
}

.progress .point-active {
  background: #0059d0;
}

.progress .label-active {
  color: #fff;
}

.progress .text-active {
  color: #384b65;
}

.progress .text-1 {
  position: absolute;
  width: 109px;
  height: 21px;
  left: 126px;
  top: 831px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(56, 75, 101, 0.4);
}

.progress .text-2 {
  position: absolute;
  width: 152px;
  height: 21px;
  left: 319px;
  top: 831px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(56, 75, 101, 0.4);
}

.progress .text-3 {
  position: absolute;
  width: 141px;
  height: 21px;
  left: 542px;
  top: 831px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(56, 75, 101, 0.4);
}

.progress .text-4 {
  position: absolute;
  width: 136px;
  height: 21px;
  left: 759px;
  top: 831px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(56, 75, 101, 0.4);
}

.progress .text-5 {
  position: absolute;
  width: 123px;
  height: 21px;
  left: 982px;
  top: 831px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(56, 75, 101, 0.4);
}

.progress .text-6 {
  position: absolute;
  width: 59px;
  height: 21px;
  left: 1230px;
  top: 831px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(56, 75, 101, 0.4);
}

.identity-step-2 input {
  position: absolute;
  left: 442px;
  right: 617px;
  top: 475px;
  bottom: 408px;
  width: 550px;
  height: 52px;
  background: #fff;
  border: 1px solid #dee4ed;
  box-sizing: border-box;
  border-radius: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
  padding: 20px;
}

.identity-step-2 label {
  position: absolute;
  height: 22px;
  left: 445px;
  right: 735px;
  top: 445px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  color: #384b65;
  width: 200px;
}

.homeicon {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 50px !important;
  color: #0059d0;
}

.error-msg {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #ea0000;
}

.email-error {
  position: absolute;
  height: 22px;
  left: 738px;
  top: 434px;
}

.address-error {
  position: absolute;
  height: 22px;
  left: 720px;
  top: 434px;
}

.storage-error {
  position: absolute;
  height: 22px;
  left: 759px;
  top: 408px;
}

.host-error {
  position: absolute;
  height: 22px;
  left: 782px;
  top: 474px;
}

.authkey-error {
  position: absolute;
  height: 22px;
  left: 694px;
  top: 445px;
}

@media (min-width: 1600px) and (max-width: 1919px) {
  .step {
    position: absolute;
    left: 130px;
    width: 80%;
  }
}

@media (min-width: 1919px) and (max-width: 2200px) {
  .step {
    position: absolute;
    left: 300px;
    width: 80%;
  }
}

@media (min-width: 2200px) and (max-width: 3000px) {
  .step {
    position: absolute;
    left: 500px;
    width: 80%;
  }
}

@media (min-width: 3000px) and (max-width: 8000px) {
  .step {
    position: absolute;
    left: 1000px;
    width: 80%;
  }
}
